.pageAuth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    background: var(--violet-200);
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 6rem 5.5rem;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: var(--white-color-100);
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pushToMain {
  background: transparent;
  border: 0;
  color: var(--white-color-100);
  font-size: 20px;
  font-weight: 100;
  display: none;
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items: stretch;
  text-align: center;

  > img {
    align-items: center;
  }

  > h2 {
    font-size: 24px;
    margin: 64px 0 24px;
    font-family: "Poppins", sans-serif;
  }

  > form {
    input {
      height: 50px;
      border-radius: 8px;
      padding: 0 16px;
      background: var(--background);
      border: 1px solid #a8a8b3;
      color: var(--white-color-300);
    }

    button {
      margin-top: 16px;
    }

    button, input {
      width: 100%;
    }
  }

  > p {
    font-size: 14px;
    color: var(--white-color-300);
    margin-top: 16px;

    a {
      color: var(--pink-100);
    }
  }
}

.createRoom {
  margin-top: 64px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: var(--google-button);
  color: var(--white-color-300);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter .2s;

  div {
    margin-right: 8px;
  }

  &:hover {
    filter: brightness(.9);
  }
}

.separator {
  font-size: 14px;
  color: var(--white-color-300);

  margin: 32px 0;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    flex: 1;
    height: 1px;
    background: var(--white-color-300);
    margin-right: 16px;
  }

  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background: var(--white-color-300);
    margin-left: 16px;
  }
}

.showMyRooms {
  font-size: small;
  width: fit-content;
  margin: 0 auto;
  padding: .5rem;

  border: 0;
  background-color: transparent;
  color: var(--white-color-300);
  cursor: pointer;
  transition: .05s;

  &:hover {
    color: var(--white-color-400);
    font-weight: 500;
  }
}

@media(max-width: 650px) {
  .pageAuth {
    flex-direction: column;
    

    aside {
      padding: 4rem 2rem;
      background-image: linear-gradient(var(--violet-200) 99%, var(--background), );
      align-items: center;
    }
  }
}

@media(max-width: 580px) {
  .pageAuth {

    aside {
      strong {
        font-size: 30px;
        line-height: 30px;
        margin-top: 20px
      }

      p {
        font-size: 20px;
        line-height: 28px;
        margin-top: 10px;
      }
    }
  }
}

@media(max-width: 490px) {
  .pageAuth {
    
    aside {
      padding: 4.5rem 1rem;

      strong {
        font-size: 20px;
        line-height: 21px;
      }

      p {
        font-size: 16px;
        line-height: 16px;
        margin-top: 8px;

      }
    }

    main {
      padding: .5rem 1rem;
    }
  }

  .createRoom {
    margin-top: 44px;
    height: 50px;
    border-radius: 8px;

    div {
      margin-right: 8px;
    }
  }
}

@media(max-width: 335px) and (max-height: 586px) {
  .pageAuth {
    aside {
      padding: 3.4rem 1rem;
    }
  }
}