.pageRoom {
  header {
    padding: 15px;
    border-bottom: 1px solid var(--white-color-100);

    .content {
      max-width: 1128px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 45px;
      }

      > div {
        display: flex;
        gap: 16px;

        button {
          height: 40px;
        }

        button:first-child {
          border: 0;
          border-radius: 50%;
          width: 2.5rem;
          font-size: 0;
          transition: .2s;
          background-color: var(--violet-200);

          &:hover {
            background-color: var(--violet-300);
          }
        }
      }
    }
  }

main {
  max-width: 800px;
  margin: 0 auto;

  .roomTitle {
    margin: 32px 0 24px;
    display: flex;
    align-items: center;

    h1 {
      font-family: 'Poppins', sans-serif;
      font-size: 24px;
      color: var(--white-color-500);
    }

    span {
      margin-left: 16px;
      background: var(--pink-100);
      border-radius: 9999px;
      padding: 8px 16px;
      color: #fff;
      font-weight: 500;
      font-size: 14px;
    }
  }

  form {
    textarea {
      width: 100%;
      border: 0;
      padding: 16px;
      border-radius: 8px;
      background: var(--background-light);
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
      resize: vertical;
      min-width: 130px;
      max-height: 500px;
      color: var(--white-color-400);

      &::placeholder {
        color: var(--white-color-400)
      }
    }

    .formFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;

      .userInfo {
        display: flex;
        align-items: center;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        span {
          margin-left: 8px;
          color: var(--white-color-400);
          font-weight: 500;
          font-size: 14px;
        }
      }

      > span {
        font-size: 14px;
        color: var(--white-color-400);
        font-weight: 500;

        button:first-child {
          background: transparent;
          border: 0;
          color: var(--violet-200);
          text-decoration: underline;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }

  .questionList {
    margin: 32px 0 32px 0;
    max-height: calc(100vh - 50vh);
    height: auto;
    overflow-y: auto;

    .likeButton {
      display: flex;
      align-items: flex-end;
      color: var(--white-color-500);

      svg path {
        stroke: var(--white-color-300)
      }

      &.liked {
        color: var(--violet-dark-100);
      
        svg path {
          stroke: var(--violet-dark-100);
        }
      }
    }
    
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px var(--white-color-100); 
      border-radius: 100px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--violet-100); 
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--violet-300); 
    }
  }
}
}

// Admin room

.headerRoomAdminContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > button {
    background-color: var(--background-question-answered);
    color: var(--white-color-500);

    border-radius: 25px;
    border: 0;
    padding: .5rem;
    font-size: 0;

    svg {
      fill: var(--white-color-500)
    }

    &:hover {
      filter: brightness(90%);
    }
  }
}

.likes {
  font-size: x-small;
  font-weight: 900;
  color:  var(--white-color-200);
  display: flex;
  justify-content: center;
}

.adminIcons {
  svg {
    circle, path {
      stroke: var(--white-color-200)
    }
  }
}